body {
        font: 400 13.3333px Arial;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

h1 {
	color: #3484D2;
}

h2{
    
    display: block;
    margin: 0 auto;
}
#node{
    padding: 20px 235px 17px 60px;
    background-color: #fdfdfd;
    font-size: 20px;
    border: 2px solid #dfdfdf;
    display: block;
    margin: 0 auto;
}
#snippet-todo-wholeList {
    line-height: 1.4em;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
}
#snippet-todo-toDoList{
    display: block;
    list-style-type: none;
    margin-top: 0;
    -webkit-padding-start: 0px;
            
}
li{
    
    background: #f5f5f5;
    list-style-type: none;
    position: relative;
    font-size: 18px;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
        
}
.nodeDone{
    text-align: center;
    width: 40px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    
}
.singleNode{
    word-break: break-all;
    padding: 25px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 25px;
    transition: color 0.4s;
    font-size: 24px;
}
.singleNode-hide{
    display:none;
}
.singleNodedone{
    word-break: break-all;
    padding: 25px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 25px;
    transition: color 0.4s;
    font-size: 24px;
    color: #a1bea1;
    text-decoration: line-through;
}
.edit-input-hide {
    display:none;
}
.edit-input{
    word-break: break-all;
    padding: 23px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 25px;
    transition: color 0.4s;
    font-size: 24px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.nodeDelete{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #C22;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    color: inherit;
    appearance: none;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}
