
body {
        font: 400 13.3333px Arial;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

h1 {
	color: #3484D2;
}

h2{
    
    display: block;
    margin: 0 auto;
}

#snippet-todo-toDoListNodes {
line-height: 1.4em;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    top: 80px;
}

.nodeList{
    
    background: #f5f5f5;
    list-style-type: none;
    position: relative;
    font-size: 18px;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
        
}

.subnode{
    
    background: #f5f5f5;
    list-style-type: none;
    position: relative;
    font-size: 18px;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
        
}
#subnodes{
    
    width: 170px;
    float: right;
    position: relative;
    left: 170px;
    top: -87px;
    font-size: 26px;
    background: whitesmoke;
    
}
.node{
    word-break: break-all;
    padding: 25px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 25px;
    transition: color 0.4s;
    font-size: 24px;
}
.node-hide{
    display:none;
}
.showSubnodes{
    background-image: url(images/ico/next.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 58px;
    right: 0px;
    
}
.hideSubnodes{
   background-image: url(images/ico/previous.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 58px;
    right: 0px;
}
.nodedone{
    word-break: break-all;
    padding: 25px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 25px;
    transition: color 0.4s;
    font-size: 24px;
    color: #a1bea1;
    text-decoration: line-through;
}
.nodeTextEdit-hide {
    display:none;
}
.nodeTextEdit{
    word-break: break-all;
    padding: 23px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 25px;
    transition: color 0.4s;
    font-size: 24px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
#nodeDelete{
    background-image: url(images/ico/cancel.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 31px;
    right: 0px;
}

.boxDeleteSubnode{
    float: right;
    position: relative;
    top: -3px;
    color: #b71212;
    font-size: 18px;
}

.boxSubnode{
    width: 63%;
    padding: 5px 0px;
    position: relative;
    left: 80px;
}
.boxMoveSubnode{
    float: left;
    position: relative;
    top: -3px;
    color: #000080;
    font-size: 17px;
}
#boxAddSubnodeEdit{
    background-image: url(images/ico/plus_small.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    position: relative;
    top: 1px;
    right: -50%;
}
#boxAddSubnodeNew{
    background-image: url(images/ico/plus_small.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    position: relative;
    top: 1px;
    right: -50%;
}

.boxSubnodeInput{
    margin: 0px 8px;
}
#nodeEdit{
    background-image: url(images/ico/edit.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 3px;
    right: -2px;
}
#newNode {
    background-image: url(images/ico/plus.png);
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
    position: absolute;
    left: 0;
    top: 75px;
    right: 0;
    margin: 0 auto;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    color: inherit;
    appearance: none;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}
